@{
    ViewData["Title"] = "Employers Homepage";
}

<h1>@ViewData["Title"]</h1>

@if (this.TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h3>Welcome</h3>
@if (!User.Identity.IsAuthenticated)
{
    <p>Looking for the perfect candidate for your position?</p>
    <p>Our platform connects you with top-tier motivated and qualified professionals looking for an exciting new career which will help you boost your business and reach your goals! </p>

    <p>If you are interested in posting a job offer on our platform and connecting with potential candidates, <a style="display:inline" href="/Identity/Account/Register">please register here.</a></p>
}
else
{

}
