@model RecruitMe.Web.ViewModels.Employers.UpdateEmployerProfileViewModel
@{
    ViewData["Title"] = "Update Profile";
    var jobSectors = this.Model.JobSectors.Select(js => new SelectListItem(js.Name, js.Id.ToString()));
    var allowedFileExtensions = string.Join(", ", this.Model.ImageExtensions);

}
<h1 style="display:inline-block">@ViewData["Title"]</h1>
<a class="btn btn-primary float-right" asp-area="Identity" asp-controller="Account" asp-action="Manage">Manage Account</a>

<div class="container-fluid">
    <form class="container" asp-controller="Employers" asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Logo"></label> -
                    <label><small><strong>Allowed file extensions:</strong> @allowedFileExtensions; </small></label>
                    <label><small><strong>Max Size allowed:</strong> 10MB</small></label>
                    <input asp-for="Logo" class="form-control" />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UniqueIdentificationCode"></label>
                    <input asp-for="UniqueIdentificationCode" class="form-control" />
                    <span asp-validation-for="UniqueIdentificationCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="WebsiteAddress"></label>
                    <input asp-for="WebsiteAddress" class="form-control" />
                    <span asp-validation-for="WebsiteAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber"></label> (e.g. +3591234567890)
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label asp-for="JobSectorId"></label>
                    <select asp-for="JobSectorId" asp-items="jobSectors" class="form-control"></select>
                    <span asp-validation-for="JobSectorId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactPersonNames"></label>
                    <input asp-for="ContactPersonNames" class="form-control" />
                    <span asp-validation-for="ContactPersonNames" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactPersonEmail"></label>
                    <input asp-for="ContactPersonEmail" class="form-control" />
                    <span asp-validation-for="ContactPersonEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactPersonPhoneNumber"></label> (e.g. +3591234567890)
                    <input asp-for="ContactPersonPhoneNumber" class="form-control" />
                    <span asp-validation-for="ContactPersonPhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactPersonPosition"></label>
                    <input asp-for="ContactPersonPosition" class="form-control" />
                    <span asp-validation-for="ContactPersonPosition" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsPublicSector"></label>
                    <input type="checkbox" asp-for="IsPublicSector" />
                    <span asp-validation-for="IsPublicSector" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="IsHiringAgency"></label>
                    <input type="checkbox" asp-for="IsHiringAgency" />
                    <span asp-validation-for="IsHiringAgency" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input style="margin-left: 1.5rem;" type="submit" value="Submit" class="btn btn-primary" />
        <a class="btn btn-danger" style="margin-left:0.5rem" href="javascript:history.go(-1)">Cancel</a>
    </form>
</div>