@page
@using RecruitMe.Common
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}


<h1>@ViewData["Title"]</h1>

<div>
    <p>
        Thank you for confirming your account!
        To proceed, please <a href="/Identity/Account/Login">Sign in</a>.
    </p>
</div>
