@model RecruitMe.Web.ViewModels.Candidates.UpdateCandidateProfileViewModel
@{
    ViewData["Title"] = "Update Profile";
    var allowedFileExtensions = string.Join(", ", this.Model.ImageExtensions);
}

<h1 style="display:inline-block">@ViewData["Title"]</h1>
<a class="btn btn-primary float-right" asp-area="Identity" asp-controller="Account" asp-action="Manage">Manage Account</a>

<div class="container-fluid">
    <form class="container" asp-controller="Candidates" asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="ProfilePicture"></label> -
                    <label><small><strong>Allowed file extensions:</strong> @allowedFileExtensions; </small></label>
                    <label><small><strong>Max Size allowed:</strong> 10MB</small></label>
                    <input value="Upload Picture" asp-for="ProfilePicture" class="form-control" />
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <input style="margin-left: 1.5rem;" type="submit" value="Send" class="btn btn-primary" />
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactAddress"></label>
                    <input asp-for="ContactAddress" class="form-control" />
                    <span asp-validation-for="ContactAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Education"></label>
                    <input asp-for="Education" class="form-control" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>